Repository ComplianceTrackerOrg/compliance-tracker, pull requests merged in 2025-03, with the labels that each got.

#128 feature(next-app): add vitest and react-testing library
  apps/next-app/package.json
  apps/next-app/src/components/ui/avatar/avatar.spec.tsx
  apps/next-app/vitest.config.ts
  yarn.lock
Labels: nextjs, chore

#129 Chore: Turbo Config Update and Angular Lint
  apps/angular-app/angular.json
  apps/angular-app/eslint.config.js
  apps/angular-app/package.json
  apps/next-app/package.json
  apps/next-app/src/features/trainings/components/UpdateTraining.tsx
  package.json
  turbo.json
  yarn.lock
Labels: nextjs, angular, chore

#127 fix: angular-125 Made action dropdown update training status
  apps/angular-app/angular.json
  apps/angular-app/src/app/features/trainings/my-trainings/my-trainings.component.html
  apps/angular-app/src/app/features/trainings/my-trainings/my-trainings.component.ts
  apps/angular-app/src/app/features/trainings/trainings.graphql.ts
  apps/angular-app/src/app/features/trainings/trainings.service.ts
  yarn.lock
Labels: bug, angular
